body { 
    // background-image: url("../images/error.jpg") ;
    color: white;
}
.back-home{
    font-family: $main-font;
    padding-top:100px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color:black;

}
h3{font-size: 20px;}
a{ text-decoration: none;
}