.lightbox { 
    display: none;
    // display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    padding: 10px;
    color:white;
    background-color: rgba(0, 0,0, 0.85);

    .sidebar {
        flex: 1;
        


    }
    
    .lb-content {
        flex: 3;
        // display: flex;
        // justify-content: center;
        font-family:$main-font;
        background-color:rgb(174, 162, 162);
    }

    img { max-width: 400px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .close {    
        right: 24px;
        top: 10px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        border: thin solid white;
        padding: 2px 14px 5px;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.25);
    }
}

.show-lb { display: flex !important; }

.u-social {
    li { 
        display: inline-block;
        padding: 2px;
    }
}